.gsnsw {
  	float: left;
}
.gmodal {

	/* IE 8- */
	filter:alpha(opacity=90); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);

	/* works for old school versions of the Mozilla browsers like Netscape Navigator. */
	-moz-opacity: 0.9; 

	/* This is for old versions of Safari (1.x) with KHTML rendering engine */
	-khtml-opacity: 0.9; 

	/* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */  
	opacity: 0.9; 
  	background: #000; /* IE5+ */
  	background: rgba(0,0,0,0.90);
}
.sw-pop {
	filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1; 
	-khtml-opacity: 1; 
	opacity: 1; 
	background: #777;
	background: rgba(119, 119, 119, 1);
}

#gmodalContent {
    vertical-align: top;
    top: 50px;
}

.sw-body {
    max-height: 60vh;
    overflow-y: scroll;
}

@media (max-width: 650px){
    .gsnsw {
        float:none !important;
    }

    .sw-header-cta, .sw-header-break, .sw-header-right-img {
        display:none !important;
    }

    .sw-header-break{
        display:none !important;
    }

    .sw-pop {
        width: 280px !important;
        left:0 !important;
        margin-left:0 !important;
    }

    .sw-header-dismiss {
        position: static !important;
        left:0 !important;
        top:0 !important;
        vertical-align: middle !important;
        text-align: center !important;
    }

    .sw-close{
        padding:1px !important;
    }

    #gmodalContent {
        vertical-align: middle;
        height: 80vh;
        top: auto;
    }
}