.gsnsw {
  	float: left;
}

.gmodal {
    background: url("data:image/gif;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNg2AQAALUAs0e+XlcAAAAASUVORK5CYII=");
}

.sw-pop {
    /* default transparency for IE8 */
	background: rgba(119, 119, 119, 1);
}

#gmodalContent {
    vertical-align: top;
    top: 50px;
}

@media (max-width: 640px) and (max-height: 640px){
    .gsnsw {
        float:none !important;
    }

    .sw-header-cta, .sw-header-break, .sw-header-right-img {
        display:none !important;
    }

    .sw-header-break{
        display:none !important;
    }

    .sw-pop {
        width: 280px !important;
        left:0 !important;
        margin-left:0 !important;
    }

    .sw-header-dismiss {
        position: static !important;
        left:0 !important;
        top:0 !important;
        vertical-align: middle !important;
        text-align: center !important;
    }

    .sw-close{
        padding:1px !important;
    }

    #gmodalContent {
        vertical-align: middle;
        height: 80vh;
        top: auto;
    }

    .sw-body {
        max-height: 60vh;
        overflow-y: scroll;
    }
}